@charset "UTF-8";

@import "./_themes.scss";

@import "./_handle.scss";

$body-bg: var(--body-bg);
$module-bg: var(--module-bg);
$module-bg-opaque: var(--module-bg-opaque);

$body-width: 1200px;

$body-header-height: 50px;
$body-footer-height: 55px;

$primary-color: var(--primary-color);

$theme-color: var(--theme-color);
