@charset "UTF-8";

@import "./_themes.scss";

@import "./_handle.scss";

$body-bg: var(--body-bg);
$module-bg: var(--module-bg);
$module-bg-opaque: var(--module-bg-opaque);

$body-width: 1200px;
$body-nav-width: 200px;
$body-nav-minHeight: 400px;

$currency-padding: 10px;
$currency-padding-top-down: 10px 0;
$currency-padding-left-right: 0 10px;
$currency-margin: 10px;
$currency-margin-top: 10px;
$currency-margin-down: 10px;
$currency-margin-top-down: 10px 0;
$currency-margin-left-right: 0 10px;
$currency-radius: 4px;
$currency-font-size: 14px;

$body-header-height: 50px;
$body-footer-height: 55px;

$primary-color: var(--primary-color);

$theme-color: var(--theme-color);
